# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (comentado por padrão, ativa se quiseres ignorar configs locais)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
pubspec.lock

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Obfuscation and symbolication
app.*.map.json
app.*.symbols

# Firebase/Google Services (⚠️ cuidado: ignora se já quiseres sincronizar)
google-services.json
GoogleService-Info.plist

# Environment / secrets
.env
.env.*
